// Typography
$monserrat: 'Montserrat', sans-serif;
$montserratAlt: 'Montserrat Alternates', sans-serif; 
$kanit: 'Kanit', sans-serif;
// Colors
$darkBlue: #00000F;
$gold: #CCA70A;
$silver: #C0C0C0;
$scarlet: #2A002B;
$blueLight: #00AAFF;
$navel: #F4CE2C;
$black: #0C0C0C;
$gray: #606060;